<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="gallery.css">
	</head>
	<body>
		<div class="gallery">
			<img src="https://picsum.photos/seed/1/1024/768" />
			<img src="https://picsum.photos/seed/2/1024/768" />
			<img src="https://picsum.photos/seed/3/1024/768" />
			<img src="https://picsum.photos/seed/4/1024/768" />
			<img src="https://picsum.photos/seed/5/1024/768" />
			<img src="https://picsum.photos/seed/6/1024/768" />
			<img src="https://picsum.photos/seed/7/1024/768" />
			<img src="https://picsum.photos/seed/8/1024/768" />
			<img src="https://picsum.photos/seed/9/1024/768" />
			<img src="https://picsum.photos/seed/10/1024/768" />
		</div>
	</body>
</html>
